<% layout('layouts/boilerplate') %>

<% if (products.length <= 0 ) {%>
<h2 class="fs-2 text-center mb-5">No Products found</h2>
<% } else { %>
<h2 class="fs-2 text-center mb-5">Products</h2>
<% } %>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
  <% for (let product of products) { %>
  <div class="col d-flex align-items-stretch">
    <a href="/products/<%= product._id%>" class="card w-100 mh-100">
      <img src="<%= product.image.url %>" class="card-img-top" alt="" />
      <div class="card-body">
        <h4 class="card-title text-center"><%= product.name %></h4>
      </div>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item fw-bold text-muted fs-4">
          &#8369;<%= product.price %>
        </li>
      </ul>
    </a>
  </div>
  <% } %>
</div>
